# dont want to upload the whole LSST data
demos/data/

#dont need caches
/__pycache__/

cosmoNODE/__pycache__/

demos/baselines/__pycache__/
demos/baselines/saved_models/
demos/baselines/conv_mnist.py
demos/notebooks/.ipynb_checkpoints/
demos/notebooks/Untitled.ipynb
demos/ode_models

\anode\__pycache__
cosmoNODE/anode/__pycache__/
cosmoNODE/anode/__pycache__/training.cpython-36.pyc

# don't want to upload my API key
kaggle.json

cosmoNODE.egg-info/
dist/
build/
