# dont want to upload the whole LSST data
demos/data/

#dont need caches
/__pycache__/

cosmoNODE/__pycache__/

cosmoNODE\anode\__pycache__
cosmoNODE/anode/__pycache__/
cosmoNODE/anode/__pycache__/training.cpython-36.pyc

# don't want to upload my API key
kaggle.json

cosmoNODE.egg-info/
dist/
build/
