# dont want to upload the whole LSST data
demos/data/
.pytest_cache/

#dont need caches
/__pycache__/

__pycache__/

demos/baselines/saved_models/
demos/baselines/conv_mnist.py
demos/notebooks/.ipynb_checkpoints/
demos/notebooks/Untitled.ipynb
demos/ode_models

.ipynb_checkpoints/
*.ipynb
*.png
*.bson
*.txt
# don't want to upload my API key
kaggle.json

cosmoNODE.egg-info/
dist/
build/

/media/tests

/jl/.ipynb_checkpoints/
